{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'normalize.css' %}" rel="stylesheet">
    <link href="{% static 'estilos.css' %}" rel="stylesheet">
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap.js' %}"></script>
    {% block extraScripts %}
    {% endblock %}
    <title>Gastos</title>
</head>
<body>
    <header class="bg-primary py-3">
        <div class="container ">
            <div class="row align-items-center ">
                <div class="col-12 text-center">
                    <h1><a id="titulo" href="{% url 'index' %}">Gastos</a></h1>
                </div>
            </div>
        </div>
    </header>

    <nav class="bg-dark py-1 mb-2">
        <div class="container ">
            <div class="row">
                <div class="col col-12 ">
                    <ul class="nav justify-content-between">
                        <li class="nav-item">
                            <a href="{% url 'index' %}" class="nav-link text-white">Inicio</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'listar_categoria' %}" class="nav-link text-white">Categorías</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'listar_perfil' %}" class="nav-link text-white">Perfiles</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link text-white">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link text-white">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container" style="height: 85vh;">
        {% block content %}
        {% endblock %}
    </div>
    
    <footer class="bg-dark py-2">
        <p class="text-white mb-0 ml-2">©Todos los derechos reservados 2020</p>
    </footer>
</body>
</html>