{% extends 'base.html' %}

{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load static %}

{% block extraScripts %}
    <script src='{% static "styleCRUD.js" %}'></script>
    {% if perms.mainGastos.change_categorias %}
        <script src='{% static "customCRUD.js" %}'></script>
    {% endif %}
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">

        <!-- 
            {% if filter %}
            <form action="" method="get" class="form form-inline pt-2">
                {% bootstrap_form filter.form layout='inline' %}
                {% bootstrap_button 'filtrar' %}
            </form>
            {% endif %}
        -->
            <h1 class="text-center">Categorías</h1>

            {% if mensajeNoCategorias %}
                <p>Aún no se han añadido categorías. Puedes añadir una nueva <a href="{% url 'categoria_new' %}">aquí</a></p>
            {% else %}
                {% render_table table %}
                <a style='margin-bottom:50px;' class='btn btn-primary' href='{% url "categoria_new" %}'>Nueva</a>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}