{% extends 'base.html' %}
{% block extraScripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(function() {
            $('.datepicker').datepicker({
                format: 'mm/dd/yyyy'
            });

     });
        
    </script>
{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col">

            <h1>Crear gasto</h1>
            <form method="post">{% csrf_token %}
                <p>
                    <label for="categoria">Categoría:</label>
                    <select id="categoria" name="categoria">
                    {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                    {% endfor %}
                    </select>
                </p>
                
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Enviar" />
            </form>

        </div>
    </div>
</div>

{% endblock %}