{% extends '../base.html' %}

{% block content %}

    <div class="row">
        <div class="col">
            <h3 class="text-center mb-3">Contenido del indice</h3>
            {% if user.is_authenticated %}
                {% if perfiles %}
                    {% for nombrePerfil, contenido in perfiles.items %}
                        <div class="perfil">
                            <h4 class="text-center">{{nombrePerfil}}</h4>
                            <div class="text-center">
                                <div class="p_caja d-inline-block text-left bg-primary p-2 border border-dark rounded">
                                    <p>Fecha de creación: <b>{{contenido.fecha_de_creacion}}</b></p>
                                    <p>Último gasto añadido: <b>{{contenido.categoria}} {{contenido.precio}}€ {{contenido.fecha}}</b></p>
                                    <p>Mes actual: <b>{{contenido.gasto_mensual}}€</b> </p>
                                    <p>Gasto total: <b>{{contenido.total_gastos}}€</b></p>
                                    <p class="d-flex justify-content-around">
                                        <a class="btn btn-secondary m-1" href='{% url "index" %}'>Nuevo Gasto</a>
                                        <a class="btn btn-secondary m-1" href='{% url "index" %}'>Administrar Gastos</a>
                                        <a class="btn btn-secondary m-1" href='{% url "index" %}'>Ver resumen</a>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No hay perfiles creados aún. Puedes crear uno <a href='{% url "index" %}'>aquí</a></p>
                {% endif %}
            {% else %}
                <h2>Bienvenido a la aplicación Gastos</h2>
                <p>No estás logueado, puedes loguearte pulsando <a href='{% url "login" %}'>aquí</a></p>
            {% endif %}
        </div>
    </div>


{% endblock %}